/* You can add global styles to this file, and also import other style files */
@import url('//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
.body {
  margin: 0 auto;
  text-align: center;
}

.add {
  cursor: pointer;
  width: max-content;
  padding: 0 20px;
  display: flex;
}

.add .caption {
  height: 35px;
  padding: 10px;
  box-shadow: 4px 3px 6px #586066;
  background: white;
  display: inline-block;
  margin-top: 10px;
}

.link {
  cursor: pointer;
}

.margin10{
  margin: 10px auto;
}

.form{
  width: 600px;
  margin: 0 auto;
}