<div class="body">
  <h1>Funcionários Cadastrados</h1>
  <div class="add" (click)="addNew()">
    <img src="../assets/img/plus-icon.png" alt="Add Icon">
    <div class="caption">Adicionar funcionário</div>
  </div>
  <p-table #dt [value]="workers" [loading]="loading" [autoLayout]="true" [responsive]="true" [paginator]="true" [rows]="10"
    [alwaysShowPaginator]="false">
    <ng-template pTemplate="header">
      <tr>
        <th [pSortableColumn]="col.field" *ngFor="let col of cols">{{col.header}}</th>
        <th>Actions</th>
      </tr>
      <tr>
        <th *ngFor="let col of cols" [ngSwitch]="col.field">
          <input *ngSwitchCase="'Name'" placeholder="Filtrar por Nome" [(ngModel)]="name" pInputText type="text" (input)="getByName($event.target.value)">
          <input *ngSwitchCase="'CPF'" placeholder="Filtrar por CPF" [(ngModel)]="cpf" pInputText type="text" (input)="getByCPF($event.target.value)">
          <input *ngSwitchCase="'Job'" placeholder="Filtrar por Cargo" [(ngModel)]="job" pInputText type="text" (input)="getByJob($event.target.value)">
          <input *ngSwitchCase="'Status'" placeholder="Filtrar por Status" [(ngModel)]="status" pInputText type="text" (input)="getByStatus($event.target.value)">
          <p-calendar dateFormat="dd/mm/yy" *ngSwitchCase="'RegistrationDate'" [(ngModel)]="registration" (onSelect)="getByRegistration(registration)"
            [touchUI]="true"></p-calendar>
          <div *ngSwitchCase="'Salary'">
            Salário&nbsp; {{rangeValues[0]}} a {{rangeValues[1]}}
            <i class="fa fa-close" (click)="rangeValues=null;dt.filter(null, col.field, col.filterMatchMode)" style="cursor:pointer"
              *ngIf="rangeValues"></i>
            <p-slider [range]="true" [(ngModel)]="rangeValues" [style]="{'width':'100%','margin-top':'8px'}" [min]="0" [max]="20000"
              (onChange)="getBySalary()"></p-slider>
          </div>
          <input *ngSwitchCase="'UF'" type="button" value="Agrupar por UF" (click)="showDialog()">
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-worker>
      <tr>
        <td *ngFor="let col of cols">
          <span *ngIf="col.field !== 'RegistrationDate'">
            {{worker[col.field]}}
          </span>
          <span *ngIf="col.field === 'RegistrationDate'">
            {{worker[col.field] | date:'dd/MM/yyyy'}}
          </span>
        </td>
        <td>
          <span (click)="editWorker(worker)" class="link fa-stack" title="Editar funcionário">
            <i class="fas fa-pencil-alt"></i>
          </span>
          <span (click)="showDeletion(worker)" class="link fa-stack" title="Excluir funcionário">
            <i class="fas fa-trash-alt"></i>
          </span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="3"></td>
        <td colspan="1">
          Total Funcionários
        </td>
        <td colspan="1">{{workers?.length | number:'1.0-0'}}</td>
        <td colspan="1">
          Total Salários
        </td>
        <td colspan="1">{{totalSalaries() | number:'1.2-2'}}</td>
        <td colspan="1"></td>
      </tr>
    </ng-template>
  </p-table>
  <p-dialog header="Funcionários Agrupados por UF de Nascimento" [(visible)]="display" [style]="{width: '800px', height: '600px'}"
    [modal]="true">
    <p-table [value]="workersUF" [loading]="loadingUF" autoLayout="true" [paginator]="true" [rows]="10" [alwaysShowPaginator]="false">
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="col.field" *ngFor="let col of colsUF">{{col.header}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-worker>
        <tr>
          <td *ngFor="let col of colsUF">
            {{worker[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td colspan="1">
            Total Funcionários
          </td>
          <td colspan="1">{{totalUF | number:'1.0-0'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-dialog>
  <p-dialog header="Incluir/Editar Funcionário" [(visible)]="displayNew" [modal]="true"
    (onHide)="resetEdit()" [maximizable]="true" [responsive]="true" styleClass="addDialog">
    <form [formGroup]="workerForm" class="row form" novalidate>
      <div class="col-lg-6 col-md-6">
        <label for="name">Nome</label>
        <br>
        <input type="text" formControlName="Name" name="name" pInputText>
      </div>
      <div class="col-lg-6 col-md-6">
        <label for="CPF">CPF</label>
        <br>
        <input type="text" formControlName="CPF" name="CPF" pInputText>
      </div>
      <div class="col-lg-6 col-md-6">
        <label for="Job">Cargo</label>
        <br>
        <input type="text" formControlName="Job" name="Job" pInputText>
      </div>
      <div class="col-lg-6 col-md-6">
        <label for="Salary">Salário</label>
        <br>
        <input type="text" formControlName="Salary" name="Salary" pInputText pKeyFilter="money">
      </div>
      <div class="col-lg-6 col-md-6">
        <label for="RegistrationDate">Data de Cadastro</label>
        <br>
        <p-calendar formControlName="RegistrationDate" dateFormat="dd/mm/yy"></p-calendar>
      </div>
      <div class="col-lg-6 col-md-6">
        <label for="Status">Status</label>
        <br>
        <input type="text" formControlName="Status" name="Status" pInputText>
      </div>
      <div class="margin10">
        <button pButton type="button" (click)="createWorker()" label="Salvar" class="ui-button-raised ui-button-success"  [disabled]="!workerForm.valid"></button>
      </div>
    </form>
  </p-dialog>
  <p-dialog header="Excluir Funcionário" [(visible)]="displayConfirmDeletion" [modal]="true" [responsive]="true" [style]="{width: '400px', height: '600px'}">
    <div class="cnt">

      <div class="header">
        <div class="date">
          Excluir Funcionário?
        </div>
      </div>
      <div class="body">
        <div class="acc">
          <b>Nome:</b> {{workerEdit?.Name}}
        </div>
        <div class="acc">
          <b>CPF:</b> {{workerEdit?.CPF}}
        </div>
      </div>
    </div>
    <p-footer>
      <button pButton type="button" label="Cancelar" class="ui-button-raised ui-button-secondary" (click)="displayConfirmDeletion = false"></button>
      <button pButton type="button" label="Excluir" class="ui-button-raised ui-button-danger" (click)="deleteWorker()"></button>
    </p-footer>
  </p-dialog>
</div>
